<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
<!-- <link rel="stylesheet" type="text/css" media="screen" href="http://newfarm3.dev.haalee.com/images/index/base.css" charset="utf-8">
<div id="globalheader" data-hires="true">
<h1><a href="https://developer.apple.com/">Apple Developer</a></h1>
</div> 
 -->
<script type="text/javascript" src="http://newfarm1.dev.haalee.com/static/admin/Calendar3.js"></script>
</head>
 
{%for item in url_list%}
<a href="{{item.0}}" >{{item.1}}</a>&nbsp;
{%endfor%}<br/><br/><br/>

{#遍历时间#}
{%for item in time_list%}
{%if '月1日' in item.0%}
<br/>
{%endif%}
<a href="/admin/weibo_info/?search_time={{item.1}}&search_type={{search_type}}&sort={{sort}}" >
{%if item.1 == search_time%}
<font color="red">{{item.0}}</font>
{%else%}
{{item.0}}
{%endif%}
</a>&nbsp;
{%endfor%}
<br/><br/>



{#分类 类别#}
{%for item in types%}
<a href="/admin/weibo_info/?search_time={{search_time}}&search_type={{item}}&sort={{sort}}" >
{%if search_type == item%}
<font color="red">{{item}}</font>
{%else%}
{{item}}
{%endif%}
</a>&nbsp;
{%endfor%}
<br/><br/>
k = []
import decimal
for item in a:
    response = urllib.urlopen(item)
    response_dict = dict(response.headers)
    file_size = response_dict.get('content-length')
    file_size = float(file_size) / 1000.0 / 1000.0
    file_size = decimal.Decimal(file_size).quantize(decimal.Decimal('0.0'))
	it = {
		'content':'我是测试 我只为自己代言',
		'created_at':'',
		'id':123456,
		'image':item,
		'source':'新浪',
		'source_url':'',
		'file_size':file_size,
		}
	k.append(it)
		
{#排序规则#}
{%for k,v in sort_rule.iteritems%}
<a href="/admin/weibo_info/?search_time={{search_time}}&search_type={{search_type}}&sort={{k}}" >
{%if sort == k%}
<font color="red">{{v.0}}</font>
{%else%}
{{v.0}}
{%endif%}
</a>&nbsp;
{%endfor%}
<br/><br/>

{#内容显示#}
{%for key,contents in contents.iteritems%}
************************************************************************************************************************
{%for item in contents%}
<table  border="1">
  <tr>
    <td colspan="2">
    <img src="http://tp1.sinaimg.cn/1404376560/50/0/1"  align="left" width="35" height="35"/>
    <font color="red">{{item.screen_name}}</font>&nbsp;
    评论数:{{item.comments_count}}&nbsp;转发数:{{item.reposts_count}}&nbsp;赞数:{{item.attitudes_count}}&nbsp;发布时间:{{item.thumbnail_pic}}
    </td>
  </tr>
  <tr>
    <td rowspan="2" >
    {{item.text}}<br/><br/>
    <img src="{{item.original_pic}}"  align="left" width="310" />
</td>
    <td >&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
{%endfor%}
{%endfor%}



<!--  
<table border="1">
  <tr>
    <td>微博名称</td>
    <td>粉丝数</td>
    <td>每日微博数</td>
    <td>每日评论</td>
    <td>每日转发</td>
    <td>每日赞</td>
    <td>平均用户参与度</td>
    <td>平均发微博时间</td>
    <td>平均用户评论时间</td>
  </tr>
  {%for item in users%}
  <tr>
    <td>{{item.uid}}</td>
    <td>{{item.statuses_count}}</td>
    <td>{{item.followers_count}}</td>
     <td>{{item.profile_image_url}}</td>
     <td>{{itemavatar_large}}</td>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
      <td>&nbsp;</td>
       <td>&nbsp;</td>
  </tr>
  {%endfor%}
 
</table>
-->

</html>